ol {
  margin-left: -40px;
  margin-top: -20px;
  list-style-position: inside;
}

/* Write your CSS below, don't change the rules above. */

body{
  background-color: teal;
}

p{
 color: cyan;
}

.notr{
  font-size: 20px;
}
li[value="2"]{
  color: pink;
}
#id-selector-demo{
  color: deeppink;
}
li[value="4"]{
 color: sandybrown;
}
li[value="5"]{
 color: gold;
}
*{
  text-align: center;
}